# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# local env files
.env 

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

#claude_code
.claudeignore
CLAUDE.md
claude.md
C:\LINK_app\claude.md
#nvm-noinstall
.nvm-noinstall/
nvm-noinstall.zip
claudemd.txt
C:\LINK_app\.claude\settings.json